*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  
  /* variáveis */
  
  --fc-text: hsla(240, 6%, 21%, 1);
  --body-bg: white;
  --input-bg: hsla(240, 9%, 89%, 1);
  --inputchecked-bg: hsla(194, 97%, 31%, 1);
  --selected-fill-color: white;
  
}

/* Toggle functions */

.hide{
  display: none;
}

.color{
  fill: var(--selected-fill-color);
}


.selected{
  background: var(--inputchecked-bg) !important; /* O !important concede prioridade para a declaração no CSS */
}


body{
  background: var(--body-bg);
  height: 100vh;
  display: grid;
  place-items: center;
}

main{
  display: flex;
  gap: 19.7rem;
  align-items: center;
}

main .timer{
  display: flex;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12.6rem;

  color: var(--fc-text);
  line-height: 14.8rem;
  text-align: center;
}

.timer-container{
  text-align: center;
}

.setTimer button + button{
  margin-left: 4rem;
}

.setTimer button{
  border: none;
  background: transparent;

  cursor: pointer;
}


.sound-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

.sound-container button{
  appearance: none;
  
  width: 13.8rem;
  height: 15.2rem;
  background: var(--input-bg);
  border-radius: 24px;
  border: none;
  
  cursor: pointer;
  transition: transform .3s;
}

button:hover{
  transform: scale(1.1);
}



